*{
    margin: 0 !important;
    padding: 0  !important;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100%;
    background: #E5E5E5;
}

#logoimg{
    width: 3rem;
    height: 3rem;
}

.jumbotext{
    background: inherit;
}

input.myinput{
    outline: none;
    border: none;
    width: 40% !important;
    border-radius: 0rem;
    background-color: white;
    font-weight: 450;
}

input.myinput:focus,input.myinput:active{
    outline: none !important;
    border: none !important;
    font-size: 1rem;
    box-shadow: none !important;
}

button.mybutton{
    width: 5rem;
    height: 2.5rem;
    border-radius: 0rem;
    border: 0.5px solid black;
}

button.mybutton:focus,button.mybutton:active{
    outline: none;
    border-radius: 0rem;
    box-shadow: none !important;
}


/* Media queries */
@media only screen and (min-width:768px) {
    body{
        width: 100%;
        height: 100vh;
        background: linear-gradient(122.04deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0.13) 91.18%);
    }
}